<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="logo-ionic"></ion-icon>&nbsp;Ionic / Cordova camera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Take your Photo profile</strong>
    <p class="ion-padding">
      Using Camera with Cordova plug-ins 
      <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com">Ionic Framework</a>
    </p>
    <ion-button color="primary" (click)="takePhoto()">
      <ion-icon name="camera-outline"></ion-icon>
      &nbsp;Open camera
    </ion-button>
    <img *ngIf="image" [src]="image" class="ion-padding">
  </div>
</ion-content>
